.button{
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #4DA8DA;
  color: #fff;
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
}

.button:hover,
.button:focus{
  outline: none;
  box-shadow: 0 0 0 3px rgba(77, 168, 218, 0.5), 0 0 0 4px #4DA8DA;
}

.button:disabled{
  opacity:0.5;
  cursor: wait
}
