.wrapper{
  margin-bottom: 1rem;
}

.input{
  border: 1px solid #eee;
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  background: #eee;
  transition: 0.2s;
}

.input:focus,
.input:hover{
  outline: none;
  border-color: #4DA8DA;
  background: white;
   box-shadow: 0 0 0 2px rgba(77, 168, 218, 0.5);
}

.label{
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.error{
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
 
}